BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never # Keine Tabs, nur Spaces
ContinuationIndentWidth: 4

ColumnLimit: 100

BreakBeforeBraces: Attach

AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

PointerAlignment: Left
ReferenceAlignment: Left
QualifierAlignment: Left

SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInAngles: false
SpacesInSquareBrackets: false

AlignAfterOpenBracket: DontAlign
AlignOperands: false
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignTrailingComments: false

AlwaysBreakAfterReturnType: None
BinPackParameters: true
BinPackArguments: true
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
PenaltyBreakBeforeFirstCallParameter: 1

IndentCaseLabels: true
IndentCaseBlocks: false

SortIncludes: true
IncludeBlocks: Preserve

ReflowComments: false

NamespaceIndentation: Inner

AlwaysBreakTemplateDeclarations: No

Standard: c++20

Cpp11BracedListStyle: true
FixNamespaceComments: true
